@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ---Fonts */
  --font-popppind: "Poppins", sans-serif;

  /* ---Colors */
  --color-primary: #111827;
  --color-secoundary: #4b5563;
  --text-whitetext: #f8fafc;
  --color-border: #e5e7eb;
}
